.page-about
	.introduction
		padding: 7.5rem 1.5rem
		.flex
			max-width: 128rem
			margin: auto
			h3
				transition-delay: 0.2s
			.ce-wrap
				transition-delay: 0.4s
			.image-wrap, h2, h3, .ce-wrap
				transition: $x-short
		.flex.rev
			overflow: hidden
			.image-wrap
				opacity: 0
				transform: translateX(4rem)
			h2, h3, .ce-wrap
				opacity: 0
				transform: translateX(-4rem)
		.content-wrap, .image-wrap
			flex: 0 0 50%
			max-width: 50%
		.content-wrap
			padding-right: 15rem
		.box-shadow
			box-shadow: 0 0px 800px rgba(0,0,0,1)
			border-radius: 50%
			position: absolute
			top: 50%
			left: 50%
			width: 80%
			height: 60%
			transform: translate(-50%,-20%)
			z-index: 30
		img
			position: relative
			z-index: 60
	
	.timeline
		padding: 12rem 1.5rem
		.content-wrap
			max-width: 122rem
			margin: auto
		.flex
			align-items: flex-start
			justify-content: center
			padding: 3rem 0
			height: 56.9rem

	.wheel
		flex: 0 0 33.333333333%
		max-width: 33.333333333%
		height: 100%
		padding: 2rem 8.5rem

	ul
		height: 100%
		padding: 3rem 0
		position: relative

	.overflow
		position: absolute
		top: 0
		left: -1rem
		right: 0
		bottom: 0
		width: 100rem
		overflow: hidden
		pointer-events: none

	.list-wrap
		position: relative
		top: 3rem
		left: 1rem
		bottom: 3rem
		width: 56rem
		transition: $long

		//Use for JS
		//transform: translateY(-8.6rem)

	li
		max-width: 19rem
		height: 7.38rem
		margin-bottom: 1rem
		display: flex
		align-items: center
		justify-content: flex-start
		font-family: $open_sans
		font-size: 5.5rem
		font-weight: 400
		position: relative
		left: 0.4rem
		width: auto
		cursor: pointer
		transition: $x-short
		pointer-events: auto
		&:hover, &:focus
			max-width: 100%
			.li-wrap
				border-color: $orange
				max-width: 100%
				transition: $x-short
			span
				transition: $x-short
				opacity: 1
				transition-delay: 0.15s
		span
			opacity: 0
			overflow: hidden
			display: inline-block
			font-size: 1.6rem
			font-weight: 700
			text-transform: uppercase
			padding-left: 2rem
			position: absolute
			left: 15rem
			top: 50%
			transform: translateY(-50%)

	.li-wrap
		position: relative
		padding: 0rem 2.2rem
		background-color: white
		max-width: 18rem
		width: 100%
		height: 100%
		display: flex
		align-items: center
		position: relative
		border: 0.4rem solid transparent
		border-left: 0
		&:before
			content: ''
			position: absolute
			left: 0
			top: 50%
			width: 2rem
			height: 2rem
			background-color: $orange
			border-radius: 50%
			transform: translate(-57%, -50%)
		&:after
			// content: ''
			// position: absolute
			// width: 0
			// height: 0
			// border-top: 60px solid transparent
			// border-bottom: 60px solid transparent
			// border-left: 60px solid green

	li.active
		.li-wrap
			border: 0.4rem solid $orange
			border-left: 0
		&:after
			content: ''
			position: absolute

	.fade
		background: white
		position: absolute
		left: 0
		right: 0
		z-index: 30
		height: 5rem

	.fade.top
		top: 0
		background: linear-gradient(white, white, white, white, rgba(255,255,255,0.0))

	.fade.bot
		bottom: 0
		height: 5.8rem
		background: linear-gradient(rgba(255,255,255,0.0), white, white, white, white)


	.arrow
		font-size: 5rem
		position: absolute
		padding: 0 2rem
		left: 14rem
		z-index: 50
		cursor: pointer
		transition: $x-short
		&:hover, &:focus
			color: $orange

	.arrow.up
		top: 0

	.arrow.down
		bottom: 0

	.arrow.hide
		pointer-events: none
		opacity: 0.1

	.line
		position: absolute
		background-color: $orange
		top: 2rem
		bottom: 2rem
		width: 0.4rem


	.display
		flex: 0 0 calc(200%/3)
		max-width: calc(200%/3)
		.image-wrap
			width: 100%
			height: 39.5rem
		.inner-wrap
			border-left: 0.4rem solid $orange
			padding-left: 1.8rem
		.description-wrap
			padding-top: 2rem
		h3
			padding-top: 0

	.statistics
		background-attachment: fixed
		.overlay
			padding: 10rem 1.5rem
	.statistic
		padding: 2rem 9rem
		.num
			font-size: 12rem
			font-weight: 400
			font-family: $roboto
			line-height: 1em
		p
			text-transform: uppercase
			font-weight: 700
			line-height: 1.5em
		
	.conclusion
		.overlay
			padding: 6rem 1.5rem
		.button-wrap
			padding-top: 2rem
		.flex
			.block:nth-of-type(3)
				transition-delay: 0.2s
		.flex.rev
			.block
				opacity: 0
				transform: translateY(4rem)
	.block
		flex: 0 0 61rem
		max-width: 100%
		padding: 2rem 12.5rem
		transition: $x-short

	.block-divider
		flex: 0 0 0.4rem
		max-width: 0.4rem
		height: 22rem

@media screen and (max-width: 1300px)
	.page-about .block
		flex: 0 0 50%
		max-width: 50%
		padding: 2rem

@media screen and (max-width: 1280px)
	.page-about 
		.introduction 
			.content-wrap
				padding-right: 7.5rem
			.flex
				padding: 0 1.5rem

		.wheel
			padding: 2rem 8rem 2rem 3rem
		.display
			padding-right: 3rem
@media screen and (max-width: 1024px)
	.page-about 
		.conclusion
			.overlay
				padding: 0 1.5rem
		.flex
			flex-wrap: wrap
			max-width: 90rem
			margin: auto
		.wheel
			display: none
		.display
			padding-right: 0
			flex: 0 0 100%
			max-width: 100%
			margin-bottom: 6rem
			&:last-of-type
				margin-bottom: 0
			.image-wrap
				height: auto
			img
				width: 100%
				height: auto
		.timeline .flex
			height: auto
		.block
			padding: 6rem 1.5rem
			flex: 0 0 100%
			max-width: 100%
		.block-divider
			height: 0.3rem
			width: 100%
			flex: 0 0 75%
			max-width: 75%
			margin: auto

		.statistic 
			padding: 2rem 6rem
			.num
				font-size: 7rem

@media screen and (max-width: 900px)
	.page-about .introduction
		.flex
			flex-wrap: wrap
			text-align: center
			max-width: 52rem
			margin: auto
		.content-wrap
			margin-bottom: 4rem
		.content-wrap, .image-wrap
			flex: 0 0 100%
			max-width: 100%
			padding-left: 0
			padding-right: 0
		.box-shadow
			display: none

@media screen and (max-width: 450px)
	.page-about .block
		padding: 6rem 0