.btn
	text-transform: uppercase
	color: black
	background-color: transparent
	border: 0.3rem solid black
	display: inline-block
	padding: 1.8rem 2rem
	font-weight: 700
	font-size: 2rem
	&:hover, &:focus
		color: white
		background-color: $orange
		border-color: $orange

.txt-white .btn
	color: white
	border-color: white
	&:hover, &:focus
		color: white
		background-color: $orange
		border-color: $orange