.page-experience
	.introduction
		padding: 8rem 1.5rem
		.content-wrap
			max-width: 55rem
			margin: auto

	.client-logos
		background-attachment: fixed
		h2
			margin-bottom: 3rem
		.overlay
			padding: 8rem 1.5rem
		.logo
			padding: 1rem 3rem
		img
			max-width: 100%
			height: auto


	.projects
		padding: 12rem 1.5rem
		.upper
			text-transform: uppercase
			margin-bottom: 1rem
		.content-wrap
			max-width: 140rem
			margin: auto
		li
			margin-bottom: 0.5rem

		.map-wrap
			padding: 1.5rem 0 2rem
			iframe
				transition: $x-short
		.map-wrap.hidden iframe
			height: 0
			overflow: hidden


	.grid
		flex-wrap: wrap
		padding: 0 0 3rem
		min-height: 31.5rem
		h2.db
			flex: 0 0 100%
			max-width: 100%

	.tile
		flex: 0 0 25%
		max-width: 25%
		padding: 0.2rem
		height: 28.5rem
		&:hover, &:focus
			.overlay
				background-color: rgba(132,53,0,0.8)
			.inner-wrap
				opacity: 1

		.overlay
			padding: 1.5rem
			background-color: rgba(132,53,0,0)
			align-items: center
			justify-content: center
			transition: $x-short

		.inner-wrap
			opacity: 0
			transition: $x-short

		.image-bg
			height: 100%


@media screen and (max-width: 1024px)
	.page-experience
		.client-logos
			.flex
				flex-wrap: wrap
			.logo
				text-align: center
				flex: 0 0 100%
				max-width: 100%
				padding: 0 1.5rem
				margin-bottom: 3rem