footer
	z-index: 30
	.flex
		padding: 3rem
	.contact
		padding: 0 2.5rem
		a
			display: flex
			align-items: center
			justify-content: center
			&:hover, &:focus
				color: black
	i.fa
		font-size: 4.5rem

	span
		padding-left: 1.5rem

	.ce-wrap
		padding: 1.5rem 3rem
		font-size: 1.6rem
