body
	padding-top: 12.5rem

header
	height: 12.5rem
	position: fixed
	z-index: 900
	top: 0
	left: 0
	right: 0
	padding: 2rem 6%
	background-color: white
	transition: $x-short

header.nav-up
	transform: translateY(-110%)

.logo-wrap
	flex: 0 0 20%
	max-width: 20%
	padding-left: 3.5rem

nav
	flex: 0 0 80%
	max-width: 80%

	a
		padding: 2rem 3.5rem
		display: inline-block
		font-weight: 700
		text-transform: uppercase
		&:hover, &:focus
			outline: 0
			color: $orange

.menu-header-nav-container
	width: 100%

.menu
	display: flex
	align-items: center
	justify-content: flex-end

.nav-btn
	padding: 1rem

#nav-icon3
	margin: auto 0 auto auto
	width: 50px
	height: 36px
	position: relative
	-webkit-transform: rotate(0deg)
	-moz-transform: rotate(0deg)
	-o-transform: rotate(0deg)
	transform: rotate(0deg)
	-webkit-transition: .5s ease-in-out
	-moz-transition: .5s ease-in-out
	-o-transition: .5s ease-in-out
	transition: .5s ease-in-out
	cursor: pointer

#nav-icon3 span
	display: block
	position: absolute
	height: 6px
	width: 100%
	background: black
	border-radius: 9px
	opacity: 1
	left: 0
	-webkit-transform: rotate(0deg)
	-moz-transform: rotate(0deg)
	-o-transform: rotate(0deg)
	transform: rotate(0deg)
	-webkit-transition: .25s ease-in-out
	-moz-transition: .25s ease-in-out
	-o-transition: .25s ease-in-out
	transition: .25s ease-in-out

#nav-icon3 span:nth-child(1)
	top: 0px

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3)
	top: 14px

#nav-icon3 span:nth-child(4)
	top: 28px

#nav-icon3.open span:nth-child(1)
	top: 18px
	width: 0%
	left: 50%

#nav-icon3.open span:nth-child(2)
	-webkit-transform: rotate(45deg)
	-moz-transform: rotate(45deg)
	-o-transform: rotate(45deg)
	transform: rotate(45deg)

#nav-icon3.open span:nth-child(3)
	-webkit-transform: rotate(-45deg)
	-moz-transform: rotate(-45deg)
	-o-transform: rotate(-45deg)
	transform: rotate(-45deg)

#nav-icon3.open span:nth-child(4)
	top: 18px
	width: 0%
	left: 50%



@media screen and (max-width: 1024px)
	body
		padding-top: 8rem
	header
		height: 8rem
		padding: 2rem 4%
	.logo-wrap
		padding-left: 1rem
		a
			display: inline-block
			max-width: 4rem
	.nav-btn
		display: inline-block 
		flex: 0 0 80%
		max-width: 80%

	nav
		pointer-events: none
		opacity: 0
		padding-top: 5rem
		position: fixed
		top: 8rem
		left: 0
		right: 0
		min-height: 100vh
		background-color: rgba(0,0,0,0.9)
		flex: 0 0 100%
		max-width: 100%

		a
			color: white
			&:hover, &:focus
				color: $orange

		.menu
			height: 100%
			width: 100%
			display: block

		li
			display: block
			width: 100%

		a
			font-size: 3.2rem

	nav.active
		transition: $x-short
		pointer-events: auto
		opacity: 1